li, dt, dd {
    line-height: 24px;
}

.lista-desordenada {
    list-style-type: none;
    /* list-style-position: outside; */
    /* list-style-image: url("../../imagens/icon.png"); */
}

.lista-desordenada li {
    padding-left: 15px;
    background-image: url("../../imagens/icon.png");
    background-position: 0px 7px;
    background-size: .6rem .6rem;
    background-repeat: no-repeat;
}