ul {
    list-style-type: none;
    /* list-style-position: outside; */
    /* list-style-image: url(../../imagens/icon.png); */
}

ul li {
    margin-left: -15px;
    padding-left: 15px;
    background-image: url(../../imagens/icon.png);
    background-position: 0 7px;
    background-size: 12px;
    background-repeat: no-repeat;
}

li, dt, dd {
    line-height: 24px;
}