* {
    color: darkslategray;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    float: left;
    padding: 6px 10px;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: #eeeeee;
    background-color: darkslategray;
}