/* * {
    background-color: brown;
    color: whitesmoke
} */

/* li {
    background-color: #fff0da;
    color: #a86500;
} */

/* .cor {
    background-color: #48ac48;
} */

#paragrafo-1 {
    background-color: #065252;
    color: aliceblue;
}

li,
span {
    background-color: blanchedalmond;
}

div li {
    color: brown;
}

.fonte-22 {
    font-size: 22px;
}