* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    padding: 30px;
}

ul {
    color: black;
    background-color: burlywood;
}

li {
    list-style: none;
}

.cor {
    color: white;
    font-weight: bold;
    background-color: darkred;
}

.padding-10 {
    padding: 10px;
}