body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.layout {
    margin: 50px auto;
    padding: 30px;
    width: 50%;
    text-align: center;
    background-color: rgb(20, 20, 70);
}

.link {
    margin: auto;
    padding: 10px 30px;
    max-width: 200px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    color: ghostwhite;
    background-color: cornflowerblue;
}

.link:hover {
    background-color: rgb(95, 139, 221);
}