/* * {
    color: #fff;
    background-color: darkred;
}

li {
    color: #000;
    background-color: #ff0;
}

.cor {
    background-color: green;
}
*/

#paragrafo-1 {
    color: white;
    background-color: blue;
}