/* ---------- Cabeçalho ---------- */
header {
    padding: 30px;
    text-align: center;
    background-color: rgb(36, 31, 73);
}

header h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}


/* ---------- Navegação ---------- */
nav {
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(36, 31, 73);
    text-align: center;
}

nav a {
    padding: 8px 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #fff;
    background-color: rgb(36, 31, 73);
}


/* ---------- Container ---------- */
article p {
    text-align: justify;
}