* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: white;
    background-color: rgb(9, 10, 10);
}

header {
    margin: 30px 0;
}

header h1 {
    text-align: center;
}

.layout {
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: rgb(30, 30, 30);
}

.layout h2 {
    margin-bottom: 30px;
}

.layout p {
    padding-bottom: 10px;
}

.layout p:last-child {
    padding: 0;
}

.layout code {
    color: burlywood;
}

.layout a {
    text-decoration: none;
    color: rgb(10, 193, 218);
}

.layout a:hover {
    text-decoration: underline;
}

.letra-destaque::first-letter {
    margin: 0 5px 0 -68px;
    padding: 10px 20px 0;
    color: rgb(30, 30, 30);
    font-size: 40px;
    background-color: wheat;
}

.linha-destaque::first-line {
    line-height: 0px;
}

.texto {
    margin-top: 50px;
    padding-left: 80px !important;
    text-align: left;
}