@font-face {
    font-family: "novaletra";
    src: url("../fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

@font-face {
    font-family: "novaletra-2";
    src: url(../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}


body {
    font-size: 1.5em;
}


.novaletra {
    font-family: "novaletra";
}

.novaletra-2 {
    font-family: "novaletra-2";
}