header {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #c4c4c4;
}
header h1 {
    text-align: center;
}

h3 {
    margin: 30px 0 10px;
}

table {
    margin-bottom: 10px;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

th, .cor-fundo {
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(93, 209, 238);
}