article {
    padding: 10px;
}

article img {
    width: 100%;
}

h1 {
    padding: 10px;
    color: #f8f0e6;
    background-color: #7a5b0b;
    background-image: url(../imagens/planet_mars.jpg);
    background-size: cover;
}

p {
    text-align: justify;
    color: #7a5b0b;
}