/* --------------------------------
RESET DOS ELEMENTOS */
* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* --------------------------------
RESETS ESPECÍFICOS */
.fonte-zero { font-size: 0; }
.text-center { text-align: center; }
.margin-top-40 { margin-top: 40px; }
.borda-visao { border: 1px solid tomato; }


/* --------------------------------
CABEÇALHO */
.container-cabecalho {
    padding: 20px;
    text-align: center;
    background-color: #04233f;
}

.container-cabecalho h1 {
    font-weight: 600;
    font-size: 2em;
    color: #1190ff;
}


/* --------------------------------
NAVEGAÇÃO */
.container-navegacao {
    padding: 20px 0;
    text-align: center;
    background-color: #06345d;
}

.container-navegacao a {
    margin: 0px 30px;
    text-decoration: none;
    color: #7cc2ff;
    font-size: 1.5em;
}

.container-navegacao a:hover {
    color: #fff;
}


/* --------------------------------
QUEM SOMOS */
.container-quem-somos {
    overflow: auto;
    background-color: #05192a;
}

.container-quem-somos .servicos {
    margin: 60px auto;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    background-color: #061f35;
}


/* --------------------------------
SERVIÇOS */



/* --------------------------------
CONTATOS */



/* --------------------------------
VER SERVIÇOS OU CONTATOS */



/* --------------------------------
FOOTER */
