/* ----------------------------------------------------------- */
/* RESET */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* ----------------------------------------------------------- */
/* GERAL */
.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}


/* ----------------------------------------------------------- */
/* CABEÇALHO */
.container-cabecalho {
    padding: 20px;
    text-align: center;
    background-color: #04233f;
}

.container-cabecalho h3 {
    color: #1190ff;
    font-weight: 600;
    font-size: 2em;
}


/* ----------------------------------------------------------- */
/* NAVEGAÇÃO */
.container-navegacao {
    padding: 20px;
    text-align: center;
    color: #06345d;
    background-color: #06345d;
}

.container-navegacao a {
    margin: 0 50px;
    text-decoration: none;
    color: #7cc2ff;
    font-size: 1.5em;
}

.container-navegacao a:hover {
    color: #fff;
}


/* ----------------------------------------------------------- */
/* QUEM SOMOS */
.container-quem-somos {
    overflow: auto;
    background-color: #05192a;
}

.container-quem-somos .servico {
    text-align: center;
    margin: 60px auto;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    background-color: #061f35;
}

.container-quem-somos .icone {
    margin-bottom: 10px;
}

.container-quem-somos .servico-texto {
    margin-top: 20px;
    color: #81c4ff;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.container-quem-somos .servico-texto-realce {
    color: #fff;
    font-weight: bold;
}


/* ----------------------------------------------------------- */
/* SERVIÇOS OU CONTATOS */
.container-servicos-contatos {
    padding: 80px;
    text-align: center;
    background-color: #082946;
}

.container-servicos-contatos .botoes-servicos-contatos {
    padding: 60px;
    text-align: center;
}

.container-servicos-contatos a {
    margin: 10px auto;
    padding: 20px 60px;
    max-width: 200px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    background-color: #008eb9;
}


/* ----------------------------------------------------------- */
/* SERVIÇOS */
.container-servicos {
    padding: 60px;
    overflow: auto;
    font-size: 1.1em;
    background-color: #05192a;
}

.container-servicos h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 3em;
}

.container-servicos article {
    margin: auto;
    width: 40%;
    /* border: 1px dashed antiquewhite; */
}

.container-servicos h3 {
    padding: 20px 0;
    color: #2097ff;
}

.container-servicos li {
    margin: 0 0 20px 50px;
    color: #fff;
}


/* ----------------------------------------------------------- */
/* RODAPÉ */
footer {
    padding: 80px;
    text-align: center;
    color: gray;
    background-color: #02111f;
}