body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
}

.layout {
    margin: 50px;
    text-align: center;
}

.link {
    padding: 10px 30px;
    min-width: 200px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(224, 224, 224);
    background-color: rgb(47, 79, 79);
}

.link:hover {
    color: rgb(224, 224, 224);
    background-color: rgb(37, 65, 65);
}