.div-1 {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.div-2 {
    position: relative;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.texto-1 {
    font-size: 1em;
}

.texto-2 {
    font-size: 2em;
}