* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red {
    color: #fff;
    background-color: firebrick;
}

.bg-blue {
    color: rgb(255, 255, 255);
    background-color: darkblue;
}

.float-left {
    float: left;
    width: 50%;
}

.margin-bottom-20 { margin-bottom: 20px; }

.padding-10 { padding: 10px; }