* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 30px 10px;
}

nav a {
    padding: 6px 10px;
    display: block;
    color: black;
    background-color: beige;
}

.bg-red {
    width: 50%;
    color: white;
    background-color: brown;
}

.bg-blue {
    width: 50%;
    color: white;
    background-color: darkblue;
}

.float-left { float: left; }
.padding-20 { padding: 20px; }